section {
  height: 100vh;
  width: 100%;

  display: flex;
}

.shopping_event {
  display: flex;
  flex: 1;

  background-image: url('./assets/shopping_event_background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  justify-content: center;
}

.shopping_event > .typography {
  display: flex;
  flex-direction: column;

  margin-top: 95px
}

.typography > h1 {
  color: #F5F5F7;
  text-align: center;
  font-family: SF Pro Display, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: -0.28px;
}

.typography > p {
  color: #6E6E73;
  text-align: center;
  font-family: SF Pro Display, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.002px; /* 110.722% */
  letter-spacing: 0.112px;
  margin-top: 4px;

  width: 555px;
}

.typography > a {
  color: #2997FF;
  text-align: center;
  font-family: SF Pro Display, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.001px; /* 138.1% */
  letter-spacing: 0.231px;

  text-decoration: none;

  margin-top: 15px;
}

